/* You can add global styles to this file, and also import other style files */
.container {
  display: flex;
  border-radius: 5px;
  border: 2px solid #000000;
  padding: 30px;
  width: 175px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.btn {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 33%; /* Si quieres que los botones ocupen todo el ancho del contenedor */
}

.input {
  width: 175px;
}

.label {
  margin-bottom: 100px;
justify-content: center;
align-items: center;

}
